{% extends "base.html" %}

{% block content %}

{% if user.is_authenticated %}
<h1>hello world</h1>
{% else %}

<div class="col-md-6 offset-md-3">
    <h1>Login</h1>
    <form method="POST" action="{% url 'home'%}">
        {% csrf_token %}
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label">Username</label>
          <input type="text" class="form-control" name="username" required>
        </div>
        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label">Password</label>
          <input type="password" class="form-control" name="password" required>
        </div>
        <button type="submit" class="btn btn-primary">Login</button>
      </form>
</div>
{% endif %}
{% endblock %}