{% extends "base.html" %}

{% block content %}
    <h1>Record Customer</h1>
    <div class="card" >
        <div class="card-header">
            <h5 class="card-title">{{customer_record.first_name}}  {{customer_record.last_name}}</h5>
        </div>
        <div class="card-body">
            <p class="card-text"><strong>email: </strong>{{ customer_record.email }}</p>
            <p class="card-text"><strong>phone: </strong>{{ customer_record.phone }}</p>
            <p class="card-text"><strong>address: </strong>{{ customer_record.address }}</p>
            <p class="card-text"><strong>city: </strong>{{ customer_record.city}}</p>
            <p class="card-text"><strong>state: </strong>{{ customer_record.state }}</p>
            <p class="card-text"><strong>Zipcode: </strong>{{ customer_record.zipcode }}</p>
            <p class="card-text"><strong>Create At: </strong>{{ customer_record.create_at }}</p>
            <p class="card-text"><strong>Id: </strong>{{ customer_record.id }}</p>   
        </div>
    </div>
    <br>
    <a href="{% url 'home' %}" class="btn btn-secondary">Back</a>
    <a href="{% url 'home' %}" class="btn btn-danger">Delete</a>
    <a href="{% url 'home' %}" class="btn btn-primary">Update Record</a>
{% endblock %}